<html>
    <head></head>
    <body>
        <p>
            Secret Number Game 1 - 100
        </p>
        <form>
            <input type="text" name="guess">
            <input type="submit" value="Guess!">
        </form>
       <p>Response: <%= msg %> </p>
    </body>
</html>